<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <form action="/addTask" method="POST">
    <input type="text" name="task" placeholder="Input Task">
    <button type="submit">Add Task</button>
  </form>
  <div>
    <ul>
      <% tasks.forEach(task => { %>
        <li class="task">
          <%= task.text %>
          <button type="submit">
            <a href="/edit/<%= task.id %>">Edit Task</a>
          </button>
          <button type="submit">
            <a href="/delete/<%= task.id %>">Delete</a>
          </button>
        </li>
      <% }) %>
    </ul>
  </div>
  <script defer src="./js/tasks.js"></script>
</body>
</html>